{% extends "facts_base.html" %}


{% block title %}
    MLB Facts
{% endblock %}


{% block title_icon %}
    <link rel="icon" href="/static/logo_mlb.png" type="image/png">
{% endblock %}


{% block facts_league %}
    MLB
{% endblock %}


{% block facts_image %}
    <img src="/static/logo_mlb.png" width="75" height="75" class="img-fluid rounded-start" alt="logo_mlb">
{% endblock %}


<!-- TEAM 1 -->
{% block team_1_image %}
    <a href="https://www.mlb.com/dbacks" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_arizonadiamondbacks.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_arizonadiamondbacks"></a>
{% endblock %}

{% block team_1_name %}
    Arizona Diamondbacks
{% endblock %}

{% block team_1_division %}
    NL - West
{% endblock %}

{% block team_1_facts %}
    <li class="list-group-item">The Diamondbacks are fastest expansion team in MLB and American Big 4 Pro Sports (NFL, NBA, MLB, NHL) to win the World Series/Championship in 2001.</li>
    <li class="list-group-item">Jerry Colangelo was the original owner of the Arizona Diamondbacks and also owned the Phoenix Suns at the same time.</li>
    <li class="list-group-item">Randy Johnson killed a bird while pitching when they played Spring Training in Tucson.</li>
{% endblock %}

{% block team_1_source %}
    <a href="https://venomstrikes.com/2021/07/24/arizona-diamondbacks-fun-facts" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 2 -->
{% block team_2_image %}
    <a href="https://www.mlb.com/braves" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_atlantabraves.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_atlantabraves"></a>
{% endblock %}

{% block team_2_name %}
    Atlanta Braves
{% endblock %}

{% block team_2_division %}
    NL - East
{% endblock %}

{% block team_2_facts %}
    <li class="list-group-item">The first name of this professional baseball team had been the Boston Red Stockings.</li>
    <li class="list-group-item">Later, the team changed its name to the Boston Braves, but it was also known by the names of Boston Red Caps, Boston Bees, Boston Doves, Boston Rustlers, Miracle Braves, Boston Red Stockings, and even the Boston Beaneaters.</li>
    <li class="list-group-item">The word 'braves' is said to have been first attached to the name in 1912. They are the current champions.</li>
{% endblock %}

{% block team_2_source %}
    <a href="https://kidadl.com/fun-facts/atlanta-braves-facts-learn-more-about-this-baseball-team" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 3 -->
{% block team_3_image %}
    <a href="https://www.mlb.com/orioles" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_baltimoreorioles.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_baltimoreorioles"></a>
{% endblock %}

{% block team_3_name %}
    Baltimore Orioles
{% endblock %}

{% block team_3_division %}
    AL - East
{% endblock %}

{% block team_3_facts %}
    <li class="list-group-item">They began play in the early 1900s as the St. Louis Browns, a rival to the St. Louis Cardinals. They moved to Baltimore in 1954 and became the Orioles.</li>
    <li class="list-group-item">The Browns were not a very successful team. They only won one league championship, in 1944.</li>
    <li class="list-group-item">The Orioles have won several league championships and also won the World Series in 1966, 1970 and 1983.</li>
{% endblock %}

{% block team_3_source %}
    <a href="https://kids.kiddle.co/Baltimore_Orioles" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 4 -->
{% block team_4_image %}
    <a href="https://www.mlb.com/redsox" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_bostonredsox.png"  width="40" height="40" class="img-fluid rounded-start" alt="mlb_bostonredsox"></a>
{% endblock %}

{% block team_4_name %}
    Boston Red Sox
{% endblock %}

{% block team_4_division %}
    AL - East
{% endblock %}

{% block team_4_facts %}
    <li class="list-group-item">The team was established in 1901.</li>
    <li class="list-group-item">The Red Sox were one of the original eight franchises to join the American League, and their home ballpark has been Fenway Park since 1912.</li>
    <li class="list-group-item">They are one of only two teams to have played over 100 seasons in Major League Baseball, and have a famous rivalry with the other team; the New York Yankees.</li>
    <li class="list-group-item">The Red Sox have won World Series titles nine times in 1903, 1912, 1915, 1916, 1918, 2004, 2007, 2013, and 2018.</li>
{% endblock %}

{% block team_4_source %}
    <a href="https://kidadl.com/fun-facts/boston-red-sox-facts-that-will-make-you-love-this-baseball-team" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 5 -->
{% block team_5_image %}
    <a href="https://www.mlb.com/cubs" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_chicagocubs.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_chicagocubs"></a>
{% endblock %}

{% block team_5_name %}
    Chicago Cubs
{% endblock %}

{% block team_5_division %}
    NL - Central
{% endblock %}

{% block team_5_facts %}
    <li class="list-group-item">Before you knew the club for Chicago Cubs, the team used to go by a different name. Form 1876-1894, they were known as Chicago White Stockings.</li>
    <li class="list-group-item">They hold the all-time record of 116 victories in a single season.</li>
    <li class="list-group-item">Mordecais Brown, a pitcher for the Cubs, had only three fingers on his pitching hand. Through his carreer he did 1375 strikeouts.</li>
{% endblock %}

{% block team_5_source %}
    <a href="https://www.slideshare.net/DrMattBoenteMD/5-interesting-facts-about-the-chicago-cubs" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 6 -->
{% block team_6_image %}
    <a href="https://www.mlb.com/whitesox" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_chicagowhitesox.png"  width="40" height="40" class="img-fluid rounded-start" alt="mlb_chicagowhitesox"></a>
{% endblock %}

{% block team_6_name %}
    Chicago White Sox
{% endblock %}

{% block team_6_division %}
    AL - Central
{% endblock %}

{% block team_6_facts %}
    <li class="list-group-item">The Sox began major league play in 1901.</li>
    <li class="list-group-item">They took their name from the original name of the Chicago Cubs.</li>
    <li class="list-group-item">The Cubs had first been known as the Chicago White Stockings.</li>
    <li class="list-group-item">By 1901, they were being called the Colts. That allowed the new American League team to adopt the old National League team colors.</li>
    <li class="list-group-item">They won the World Series three times (in 1906, 1917, and 2005).</li>
{% endblock %}

{% block team_6_source %}
    <a href="https://kids.kiddle.co/Chicago_White_Sox" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 7 -->
{% block team_7_image %}
    <a href="https://www.mlb.com/reds" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_cincinnatireds.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_cincinnatireds"></a>
{% endblock %}

{% block team_7_name %}
    Cincinnati Reds
{% endblock %}

{% block team_7_division %}
    NL - Central
{% endblock %}

{% block team_7_facts %}
    <li class="list-group-item">The Original Cincinnati Baseball Team Now Plays in Atlanta. Baseball’s first professional team was organized in Cincinnati in 1869.</li>
    <li class="list-group-item">After the team’s disappointing 1870 season the franchise dissolved. Manager Harry Wright moved to Boston, where he organized, with some former Cincinnati teammates, the Boston Red Stockings in 1871.</li>
    <li class="list-group-item">Renamed the Boston Braves in 1912, that team moved to Milwaukee in 1953 and to Atlanta in 1966.</li>
{% endblock %}

{% block team_7_source %}
    <a href="https://www.cincinnatimagazine.com/article/17-curious-facts-about-the-cincinnati-reds" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 8 -->
{% block team_8_image %}
    <a href="https://www.mlb.com/guardians" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_clevelandguardians.png"  width="35" height="35" class="img-fluid rounded-start" alt="mlb_clevelandguardians"></a>
{% endblock %}

{% block team_8_name %}
    Cleveland Guardians
{% endblock %}

{% block team_8_division %}
    AL - Central
{% endblock %}

{% block team_8_facts %}
    <li class="list-group-item">The club name (Indians) and its cartoon logo (Chief Wahoo) have been criticized for perpetuating Native American stereotypes. In 2018, the MLB announced that Chief Wahoo would be removed from the Indians' uniforms as of the 2019 season, stating that the logo was no longer appropriate for on-field use. In 2020, protests over the murder of George Floyd led Paul Dolan (owner) to reconsider use of the Indians name. The same year, it was reported that the Indians name would be dropped after the 2021 season. After that, the team became the Cleveland Guardians.</li>
{% endblock %}

{% block team_8_source %}
    <a href="https://en.wikipedia.org/wiki/Cleveland_Guardians" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 9 -->
{% block team_9_image %}
    <a href="https://www.mlb.com/rockies" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_coloradorockies.png"  width="50" height="50" class="img-fluid rounded-start" alt="mlb_coloradorockies"></a>
{% endblock %}

{% block team_9_name %}
    Colorado Rockies
{% endblock %}

{% block team_9_division %}
    NL - West
{% endblock %}

{% block team_9_facts %}
    <li class="list-group-item">Dinger, the Rockies mascot, is a dinosaur because a dinosaur skull was found on stadium (Coors Field) grounds while it was being built.</li>
    <li class="list-group-item">The Rockies hold the Major League Baseball record for season attendance. It happened during their inaugural season in 1993 at Mile High Stadium when 4,483,350 fans attended.</li>
    <li class="list-group-item">The only time the Rockies made it to the World Series was in 2007 when they were swept by the Boston Red Sox.</li>
{% endblock %}

{% block team_9_source %}
    <a href="https://kdvr.com/sports/colorado-rockies/26-facts-about-the-rockies-to-impress-your-friends-before-the-home-opener/" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 10 -->
{% block team_10_image %}
    <a href="https://www.mlb.com/tigers" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_detroittigers.png"  width="40" height="40" class="img-fluid rounded-start" alt="mlb_detroittigers"></a>
{% endblock %}

{% block team_10_name %}
    Detroit Tigers
{% endblock %}

{% block team_10_division %}
    AL - Central
{% endblock %}

{% block team_10_facts %}
    <li class="list-group-item">The Tigers were one of the first teams to have an "official" nickname. They obtained permission from a military group called the Detroit Light Guard, which was known as the "Tigers". That group had fought in the Civil War and the Spanish-American War.</li>
    <li class="list-group-item">They have won several World Series, in 1935, 1945, 1968 and 1984.</li>
    <li class="list-group-item">They also played in the 2012 World Series against the San Francisco Giants, but they got swept.</li>
{% endblock %}

{% block team_10_source %}
    <a href="https://kids.kiddle.co/Detroit_Tigers" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 11 -->
{% block team_11_image %}
    <a href="https://www.mlb.com/astros" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_houstonastros.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_houstonastros"></a>
{% endblock %}

{% block team_11_name %}
    Houston Astros
{% endblock %}

{% block team_11_division %}
    AL - West
{% endblock %}

{% block team_11_facts %}
    <li class="list-group-item">They began to play in 1962.</li>
    <li class="list-group-item">They were originally called the "Houston Colt .45s" or the "Houston Colts". They changed their name to "Astros" in 1965.</li>
    <li class="list-group-item">They played three World Series, in 2005, 2017 and 2019. They've only won in 2017, they defeated the Los Angeles Dodgers in seven games. Later it turned out they were cheating during the 2017-18 season. The team suffered several punishments in the following years.</li>
{% endblock %}

{% block team_11_source %}
    <a href="https://kids.kiddle.co/Houston_Astros" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 12 -->
{% block team_12_image %}
    <a href="https://www.mlb.com/royals" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_kansascityroyals.png"  width="55" height="55" class="img-fluid rounded-start" alt="mlb_kansascityroyals"></a>
{% endblock %}

{% block team_12_name %}
    Kansas City Royals
{% endblock %}

{% block team_12_division %}
    AL - Central
{% endblock %}

{% block team_12_facts %}
    <li class="list-group-item">The team was named after the American Royal livestock show held every year in Kansas City. Alternative submissions were names like “Mules” and “Cowpokes”.</li>
    <li class="list-group-item">Bo Jackson was an all-star athlete in baseball and in football. In fact, Bo was the first athlete to be named an all-star in two sports. He began his careers as a football player, and after suffering a hip injury gave it up and focused on baseball.</li>
{% endblock %}

{% block team_12_source %}
    <a href="https://www.eagleswings.com/blogs/news/7-facts-about-the-kansas-city-royals-you-probably-didn-t-know" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 13 -->
{% block team_13_image %}
    <a href="https://www.mlb.com/angels" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_losangelesangels.png"  width="45" height="45" class="img-fluid rounded-start" alt="mlb_losangelesangels"></a>
{% endblock %}

{% block team_13_name %}
    Los Angeles Angels
{% endblock %}

{% block team_13_division %}
    AL - West
{% endblock %}

{% block team_13_facts %}
    <li class="list-group-item">The Angels began playing in 1961. They were named for a former minor league baseball team called the Los Angeles Angels. The minor league Angels moved to another city when the Los Angeles Dodgers moved to Los Angeles in 1958.</li>
    <li class="list-group-item">They were previously known as the California Angels and the Anaheim Angels.</li>
    <li class="list-group-item">"Los Angeles" is Spanish for "The Angels".</li>
    <li class="list-group-item">They have won one World Series championship, in 2002.</li>
    <li class="list-group-item">The Angels' home stadium is called Angel Stadium of Anaheim. It has been their home ballpark since 1966.</li>
{% endblock %}

{% block team_13_source %}
    <a href="https://kids.kiddle.co/Los_Angeles_Angels_of_Anaheim" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 14 -->
{% block team_14_image %}
    <a href="https://www.mlb.com/dodgers" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_losangelesdodgers.png"  width="45" height="45" class="img-fluid rounded-start" alt="mlb_losangelesdodgers"></a>
{% endblock %}

{% block team_14_name %}
    Los Angeles Dodgers
{% endblock %}

{% block team_14_division %}
    NL - West
{% endblock %}

{% block team_14_facts %}
    <li class="list-group-item">In 1939, Major League Baseball aired its first ever game, which was a doubleheader between the Dodgers and Cincinnati Reds at Ebbets Field in Brooklyn. There were only two cameras inside the stadium.</li>
    <li class="list-group-item">They've lost 13 of their 19 World Series' appearances, tied with the New York Yankees for the most in MLB history.</li>
    <li class="list-group-item">In 1951, the Dodgers went against the norms by putting player numbers on the front of the jersey to make them truly stand out. They started this trend.</li>
{% endblock %}

{% block team_14_source %}
    <a href="https://www.12up.com/posts/5-amazing-facts-you-didn-t-know-about-the-dodgers-01e7nypb0av6" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 15 -->
{% block team_15_image %}
    <a href="https://www.mlb.com/marlins" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_miamimarlins.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_miamimarlins"></a>
{% endblock %}

{% block team_15_name %}
    Miami Marlins
{% endblock %}

{% block team_15_division %}
    NL - East
{% endblock %}

{% block team_15_facts %}
    <li class="list-group-item">The Marlins joined Major League Baseball as an expansion franchise, in 1991.</li>
    <li class="list-group-item">While they own a number of records for lowest attendance out of any MLB franchise, most notably for being involved with games holding 2 or fewer fans at some point during a game.</li>
    <li class="list-group-item">In 1997, they made the World Series and won. Then they did it again in 2003. Two World Series appearances, won both.</li>
{% endblock %}

{% block team_15_source %}
    <a href="https://www.fishstripes.com/22579865/here-are-some-interesting-facts-about-the-miami-marlins" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 16 -->
{% block team_16_image %}
    <a href="https://www.mlb.com/brewers" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_milwaukeebrewers.png"  width="55" height="55" class="img-fluid rounded-start" alt="mlb_milwaukeebrewers"></a>
{% endblock %}

{% block team_16_name %}
    Milwaukee Brewers
{% endblock %}

{% block team_16_division %}
    NL - Central
{% endblock %}

{% block team_16_facts %}
    <li class="list-group-item">The team was founded in 1969 as the Seattle Pilots as an expansion team of the American League (AL).</li>
    <li class="list-group-item">After only one season, the team relocated to Milwaukee, becoming known as the Brewers.</li>
    <li class="list-group-item">The team's only World Series appearance came in 1982, and they are one of only six current MLB teams that have never won the World Series. They lost 4-3 to the St. Louis Cardinals.</li>
{% endblock %}

{% block team_16_source %}
    <a href="https://kids.kiddle.co/Milwaukee_Brewers" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 17 -->
{% block team_17_image %}
    <a href="https://www.mlb.com/twins" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_minnesotatwins.png"  width="55" height="55" class="img-fluid rounded-start" alt="mlb_minnesotatwins"></a>
{% endblock %}

{% block team_17_name %}
    Minnesota Twins
{% endblock %}

{% block team_17_division %}
    AL - Central
{% endblock %}

{% block team_17_facts %}
    <li class="list-group-item">They began in 1901 as the Washington Senators, based in Washington, D.C. They moved to the Minneapolis-St. Paul metropolitan area in 1961. That area is often called the "Twin Cities", so the team was renamed the "Twins". They have often worn a "TC" emblem on their uniforms and caps.</li>
    <li class="list-group-item">As the Senators they won one World Series, in 1924.</li>
    <li class="list-group-item">However, as the Twins, they got two World Series wins (1987, 1991).</li>
{% endblock %}

{% block team_17_source %}
    <a href="https://kids.kiddle.co/Minnesota_Twins" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 18 -->
{% block team_18_image %}
    <a href="https://www.mlb.com/mets" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_newyorkmets.png"  width="45" height="45" class="img-fluid rounded-start" alt="mlb_newyorkmets"></a>
{% endblock %}

{% block team_18_name %}
    New York Mets
{% endblock %}

{% block team_18_division %}
    NL - East
{% endblock %}

{% block team_18_facts %}
    <li class="list-group-item">In their inaugural season (1962), the Mets posted a record of 40–120, the worst regular season record since MLB went to a 162-game schedule.</li>
    <li class="list-group-item">The team never finished better than second-to-last until the "Miracle Mets" beat the Baltimore Orioles in the 1969 World Series, one of the biggest upsets in World Series history.</li>
    <li class="list-group-item">They won their second championship in 1986.</li>
{% endblock %}

{% block team_18_source %}
    <a href="https://kids.kiddle.co/New_York_Mets" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 19 -->
{% block team_19_image %}
    <a href="https://www.mlb.com/yankees" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_newyorkyankees.png"  width="55" height="55" class="img-fluid rounded-start" alt="mlb_newyorkyankees"></a>
{% endblock %}

{% block team_19_name %}
    New York Yankees
{% endblock %}

{% block team_19_division %}
    AL - East
{% endblock %}

{% block team_19_facts %}
    <li class="list-group-item">The Chicago White Sox was the first baseball team to add player names to their jerseys in 1960, following a trend NFL teams had started.</li>
    <li class="list-group-item">Before gaining his icon status with the New York Yankees, Babe Ruth, nicknamed "Bambino," started his budding career with the Boston Red Sox. For the next 86 years, the Red Sox did not win a single Series title! The Yankees won 26 Series titles! The "Curse of the Bambino."</li>
    <li class="list-group-item">The Bleacher Creatures (group of Yankees fans) are most famous for their "roll call', whereby they chant every Yankee player's name until the player acknowledges them, usually with a wave.</li>
{% endblock %}

{% block team_19_source %}
    <a href="https://compasslongview.com/blogs/new-posts/10-intriguing-facts-about-the-new-york-yankees" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 20 -->
{% block team_20_image %}
    <a href="https://www.mlb.com/athletics" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_oaklandathletics.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_oaklandathletics"></a>
{% endblock %}

{% block team_20_name %}
    Oakland Athletics
{% endblock %}

{% block team_20_division %}
    AL - West
{% endblock %}

{% block team_20_facts %}
    <li class="list-group-item">The Athletics were an original member of the American League in 1901, playing in Philadelphia.</li>
    <li class="list-group-item">The name "Athletics" had been used by several other Philadelphia teams dating back to the 1860s.</li>
    <li class="list-group-item">Most of the various "Athletics" teams wore a letter "A" on their uniforms. The current Athletics still often wear that old-style "A" or "A's" on their uniforms.</li>
    <li class="list-group-item">They won the World Series 9 times (out of 15 appearances).</li>
{% endblock %}

{% block team_20_source %}
    <a href="https://kids.kiddle.co/Oakland_Athletics" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 21 -->
{% block team_21_image %}
    <a href="https://www.mlb.com/phillies" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_philadelphiaphillies.png"  width="45" height="45" class="img-fluid rounded-start" alt="mlb_philadelphiaphillies"></a>
{% endblock %}

{% block team_21_name %}
    Philadelphia Phillies
{% endblock %}

{% block team_21_division %}
    NL - East
{% endblock %}

{% block team_21_facts %}
    <li class="list-group-item">The Phillies were founded in 1883.</li>
    <li class="list-group-item">The Phillies were named for the city Philadelphia, which is often called "Philly", and have kept their name and city for over 125 years.</li>
    <li class="list-group-item">Several years ago they became the first team to have lost 10,000 games overall.</li>
    <li class="list-group-item">In 1980, the Phillies won their first World Series. In 1993, they made it once more to the Series, but they lost. They did not make the playoffs again until 2007. In 2008, the Phillies won their second World Series.</li>
{% endblock %}

{% block team_21_source %}
    <a href="https://kids.kiddle.co/Philadelphia_Phillies" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 22 -->
{% block team_22_image %}
    <a href="https://www.mlb.com/pirates" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_pittsburghpirates.png"  width="40" height="40" class="img-fluid rounded-start" alt="mlb_pittsburghpirates"></a>
{% endblock %}

{% block team_22_name %}
    Pittsburgh Pirates
{% endblock %}

{% block team_22_division %}
    NL - Central
{% endblock %}

{% block team_22_facts %}
    <li class="list-group-item">Founded in 1881 as Allegheny, the franchise has won five World Series championships.</li>
    <li class="list-group-item">The franchise joined the National League (NL) in its eighth season in 1887.</li>
    <li class="list-group-item">They played in the inaugural World Series in 1903 (lost) and winning their first World Series in 1909.</li>
    <li class="list-group-item">The Pirates currently have the longest World Series appearance drought in Major League Baseball among any team with at least one appearance, their most recent showing being their victory in the 1979 World Series.</li>
{% endblock %}

{% block team_22_source %}
    <a href="https://kids.kiddle.co/Pittsburgh_Pirates" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 23 -->
{% block team_23_image %}
    <a href="https://www.mlb.com/padres" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_sandiegopadres.png"  width="40" height="40" class="img-fluid rounded-start" alt="mlb_sandiegopadres"></a>
{% endblock %}

{% block team_23_name %}
    San Diego Padres
{% endblock %}

{% block team_23_division %}
    NL - West
{% endblock %}

{% block team_23_facts %}
    <li class="list-group-item">The San Diego Padres were first established in 1937.</li>
    <li class="list-group-item">The Padres did not get invited to join the major league, until 1969 - when four new teams were asked to join the major league.</li>
    <li class="list-group-item">The Padres host their spring training games, which are open to the public at the Peoria Sports Complex. Which the Padres share with the Seattle Mariners.</li>
    <li class="list-group-item">They played two World Series in 1984 and 1998, but lost both.</li>
{% endblock %}

{% block team_23_source %}
    <a href="https://www.padrespublic.com/lifestyle/fun-facts-for-padres-fans" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 24 -->
{% block team_24_image %}
    <a href="https://www.mlb.com/giants" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_sanfranciscogiants.png"  width="40" height="40" class="img-fluid rounded-start" alt="mlb_sanfranciscogiants"></a>
{% endblock %}

{% block team_24_name %}
    San Francisco Giants
{% endblock %}

{% block team_24_division %}
    NL - West
{% endblock %}

{% block team_24_facts %}
    <li class="list-group-item">They were founded in 1883, and have been in San Francisco since 1958.</li>
    <li class="list-group-item">The Giants were originally from New York City. There they were called the New York Giants.</li>
    <li class="list-group-item">The Giants have won eight World Series championship titles. They most recently won the title in 2014. Although 8 championships sounds great, they lost 15 times throughout their history.</li>
{% endblock %}

{% block team_24_source %}
    <a href="https://kids.kiddle.co/San_Francisco_Giants" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 25 -->
{% block team_25_image %}
    <a href="https://www.mlb.com/mariners" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_seattlemariners.png"  width="55" height="55" class="img-fluid rounded-start" alt="mlb_seattlemariners"></a>
{% endblock %}

{% block team_25_name %}
    Seattle Mariners
{% endblock %}

{% block team_25_division %}
    AL - West
{% endblock %}

{% block team_25_facts %}
    <li class="list-group-item">The team joined the American League as an expansion team in 1977.</li>
    <li class="list-group-item">The "Mariners" name originates from the prominence of marine culture in the city of Seattle.</li>
    <li class="list-group-item">The Mariners won 116 games in 2001, which set the American League record for most wins in a single season and tied the 1906 Chicago Cubs for the Major League record for most wins in a single season.</li>
    <li class="list-group-item">The Mariners are one of six Major League Baseball teams who have never won a World Series championship, and are the only team to have never played in a World Series.</li>
{% endblock %}

{% block team_25_source %}
    <a href="https://kids.kiddle.co/Seattle_Mariners" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 26 -->
{% block team_26_image %}
    <a href="https://www.mlb.com/cardinals" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_stlouiscardinals.png"  width="40" height="40" class="img-fluid rounded-start" alt="mlb_stlouiscardinals"></a>
{% endblock %}

{% block team_26_name %}
    St. Louis Cardinals
{% endblock %}

{% block team_26_division %}
    NL - Central
{% endblock %}

{% block team_26_facts %}
    <li class="list-group-item">The 1885 season they headed to the "World's Championship" against the Chicago White Stockings. The series ended in a 3-3-1 disputed tie after Game 2 was a forfeited because St. Louis manager Charles Comiskey called his team off the field in protest. Ties in baseball just don't happen, and it is shocking to think a championship series ended without a true winner.</li>
    <li class="list-group-item">One of the most famous didn't play on the field, but rather he was the voice of the team for decades. The franchise decided to honor the great Jack Buck by retiring his "number" in 2002, represented by a microphone.</li>
{% endblock %}

{% block team_26_source %}
    <a href="https://www.12up.com/posts/amazing-facts-about-the-st-louis-cardinals-ozzie-smith-jack-buck-01e7k8qfcwz3" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 27 -->
{% block team_27_image %}
    <a href="https://www.mlb.com/rays" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_tampabayrays.png"  width="45" height="45" class="img-fluid rounded-start" alt="mlb_tampabayrays"></a>
{% endblock %}

{% block team_27_name %}
    Tampa Bay Rays
{% endblock %}

{% block team_27_division %}
    AL - East
{% endblock %}

{% block team_27_facts %}
    <li class="list-group-item">The Tampa Bay Devil Rays began play in the 1998 Major League Baseball season.</li>
    <li class="list-group-item">Their first decade of play was marked by futility, they finished in last place in their division in all but the 2004 season, when they finished second to last.</li>
    <li class="list-group-item">Following the 2007 season, Stuart Sternberg (owner) changed the team's name from "Devil Rays" to "Rays".</li>
    <li class="list-group-item">The 2008 season their first winning season. Actually, they played in the World Series, though they lost to the Phillies.</li>
{% endblock %}

{% block team_27_source %}
    <a href="https://kids.kiddle.co/Tampa_Bay_Rays" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 28 -->
{% block team_28_image %}
    <a href="https://www.mlb.com/rangers" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_texasrangers.png"  width="40" height="40" class="img-fluid rounded-start" alt="mlb_texasrangers"></a>
{% endblock %}

{% block team_28_name %}
    Texas Rangers
{% endblock %}

{% block team_28_division %}
    AL - West
{% endblock %}

{% block team_28_facts %}
    <li class="list-group-item">The team began in 1961 as the Washington Senators. The Senators played poorly and had too few fans to support them.</li>
    <li class="list-group-item">The team moved to Texas in 1972. They were renamed in honor of the famous state police force called the Texas Rangers.</li>
    <li class="list-group-item">The Rangers have made eight appearances in the MLB postseason.</li>
    <li class="list-group-item">In the 2010 World Series, the franchise's first, the Rangers fell to the San Francisco Giants. They repeated the following year, then lost the 2011 World Series to the St. Louis Cardinals.</li>
{% endblock %}

{% block team_28_source %}
    <a href="https://kids.kiddle.co/Texas_Rangers_(baseball)" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 29 -->
{% block team_29_image %}
    <a href="https://www.mlb.com/bluejays" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_torontobluejays.png"  width="60" height="60" class="img-fluid rounded-start" alt="mlb_torontobluejays"></a>
{% endblock %}

{% block team_29_name %}
    Toronto Blue Jays
{% endblock %}

{% block team_29_division %}
    AL - East
{% endblock %}

{% block team_29_facts %}
    <li class="list-group-item">The Blue Jays are the first and only team outside of the USA to appear in, and win, the World Series.</li>
    <li class="list-group-item">The Jays are also the fastest/youngest expansion team in the American League to win a World Series.</li>
    <li class="list-group-item">The team had only been around for 16 years when they became champions in 1992.</li>
    <li class="list-group-item">The Blue Jays were back-to-back World Series champions in the 1992 and 1993 seasons. Since then the Jays haven’t been able to qualify for the playoffs (that’s 21 consecutive seasons) until recently when they secured their spot in the 2015 playoffs.</li>
{% endblock %}

{% block team_29_source %}
    <a href="https://www.cbc.ca/kidscbc2/the-feed/8-cool-facts-about-the-toronto-blue-jays" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 30 -->
{% block team_30_image %}
    <a href="https://www.mlb.com/nationals" target="_blank" rel="noopener noreferrer"><img src="/static/mlb_washingtonnationals.png"  width="50" height="50" class="img-fluid rounded-start" alt="mlb_washingtonnationals"></a>
{% endblock %}

{% block team_30_name %}
    Washington Nationals
{% endblock %}

{% block team_30_division %}
    NL - East
{% endblock %}

{% block team_30_facts %}
    <li class="list-group-item">The Nationals are the eighth major league franchise to be based in Washington, D.C.</li>
    <li class="list-group-item">The current franchise was founded in 1969 as the Montreal Expos as part of the MLB expansion.</li>
    <li class="list-group-item">After a failed contraction plan, the Expos were purchased by MLB, which sought to relocate the team to a new city, Washington, D.C.</li>
    <li class="list-group-item">Nationals were established in 2005. They won the World Series in 2019 (their first and yet the last appearance).</li>
{% endblock %}

{% block team_30_source %}
    <a href="https://kids.kiddle.co/Washington_Nationals" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}
