{% extends "facts_base.html" %}


{% block title %}
    NFL Facts
{% endblock %}


{% block title_icon %}
    <link rel="icon" href="/static/logo_nfl.png" type="image/png">
{% endblock %}


{% block facts_league %}
    NFL
{% endblock %}


{% block facts_image %}
    <img src="/static/logo_nfl.png" width="40" height="40" class="img-fluid rounded-start" alt="logo_nfl">
{% endblock %}


<!-- TEAM 1 -->
{% block team_1_image %}
    <a href="https://www.nfl.com/teams/arizona-cardinals" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_arizonacardinals.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_arizonacardinals"></a>
{% endblock %}

{% block team_1_name %}
    Arizona Cardinals
{% endblock %}

{% block team_1_division %}
    NFC - West
{% endblock %}

{% block team_1_facts %}
    <li class="list-group-item">Originally called the Morgan Athletic Club, the Arizona Cardinals were founded in 1898, making them the oldest continuously running professional football team in the United States.</li>
    <li class="list-group-item">The team started in Chicago before moving to St. Louis in 1960.</li>
    <li class="list-group-item">In 1987 the team relocated to Arizona.</li>
    <li class="list-group-item">The Arizona Cardinals hold the longest championship drought in major U.S. sports with no NFL titles in 75 consecutive seasons.</li>
{% endblock %}

{% block team_1_source %}
    <a href="https://www.ecollegetimes.com/11-things-you-probably-didnt-know-about-the-arizona-cardinals" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 2 -->
{% block team_2_image %}
    <a href="https://www.nfl.com/teams/atlanta-falcons" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_atlantafalcons.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_atlantafalcons"></a>
{% endblock %}

{% block team_2_name %}
    Atlanta Falcons
{% endblock %}

{% block team_2_division %}
    NFC - South
{% endblock %}

{% block team_2_facts %}
    <li class="list-group-item">The Atlanta NFL team was established in June 1965.</li>
    <li class="list-group-item">In 1966, the Falcons used a live falcon as a mascot.</li>
    <li class="list-group-item">The Falcons have always worn black or red helmets. But in 1974, a white helmet design was unveiled by the team and a prototype was made. The plans were ultimately scrapped.</li>
    <li class="list-group-item">In the first 40 years of the franchise, the team had never posted back-to-back winning seasons.</li>
{% endblock %}

{% block team_2_source %}
    <a href="https://www.thejusticelawyer.com/blog/10-facts-about-our-atlanta-falcons-you-might-not-know" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 3 -->
{% block team_3_image %}
    <a href="https://www.nfl.com/teams/baltimore-ravens" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_baltimoreravens.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_baltimoreravens"></a>
{% endblock %}

{% block team_3_name %}
    Baltimore Ravens
{% endblock %}

{% block team_3_division %}
    AFC - North
{% endblock %}

{% block team_3_facts %}
    <li class="list-group-item">The Baltimore Ravens were established 1996.</li>
    <li class="list-group-item">The Ravens' name was inspired by the poem titled The Raven, by Edgar Allan Poe.</li>
    <li class="list-group-item">At the Ravens first game at Memorial Stadium there were 64,124 fans present, which set a record for Baltimore sporting events.</li>
    <li class="list-group-item">Ozzie Newsome was named as the team's general manager in 2003. He was the first minority general manager in NFL history.</li>
{% endblock %}

{% block team_3_source %}
    <a href="https://www.softschools.com/facts/sports/baltimore_ravens_facts/1353/" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 4 -->
{% block team_4_image %}
    <a href="https://www.nfl.com/teams/buffalo-bills" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_buffalobills.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_buffalobills"></a>
{% endblock %}

{% block team_4_name %}
    Buffalo Bills
{% endblock %}

{% block team_4_division %}
    AFC - East
{% endblock %}

{% block team_4_facts %}
    <li class="list-group-item">The Buffalo Bills are the only team to appear in and lose in four straight Super Bowls (1991-1994).</li>
    <li class="list-group-item">Since that last Super Bowl appearance the Bills have not returned to the NFL’s biggest game of the year.</li>
    <li class="list-group-item">Between 1999 and 2017 the Bills didn't make the playoff. This 18 year drought was the longest in the NFL at the time, and marked the Buffalo Bills as the last team to make the playoffs in the 21st centrury.</li>
{% endblock %}

{% block team_4_source %}
    <a href="https://refactoid.com/5-buffalo-bills-facts" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 5 -->
{% block team_5_image %}
    <a href="https://www.nfl.com/teams/carolina-panthers" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_carolinapanthers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_carolinapanthers"></a>
{% endblock %}

{% block team_5_name %}
    Calorina Panthers
{% endblock %}

{% block team_5_division %}
    NFC - South
{% endblock %}

{% block team_5_facts %}
    <li class="list-group-item">Among the NFL’s 31 current owners, Jerry Richardson—a former Baltimore Colt—is the only one who’s actually played in the league.</li>
    <li class="list-group-item">Statistically, the chances of losing 13 consecutive coin tosses are one in 8192. But that’s exactly what happened to the 2012 Panthers, who didn’t get a favorable flip until Week 14.</li>
    <li class="list-group-item">After every home win, you’ll hear “Sweet Caroline” by Neil Diamond.</li>
{% endblock %}

{% block team_5_source %}
    <a href="https://www.mentalfloss.com/article/74786/21-super-facts-about-carolina-panthers" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 6 -->
{% block team_6_image %}
    <a href="https://www.nfl.com/teams/chicago-bears" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_chicagobears.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_chicagobears"></a>
{% endblock %}

{% block team_6_name %}
    Chicago Bears
{% endblock %}

{% block team_6_division %}
    NFC - North
{% endblock %}

{% block team_6_facts %}
    <li class="list-group-item">The Chicago Bears (originally the Decatur Staleys) franchise were founded by A.E. Staley in 1919.</li>
    <li class="list-group-item">Although the Bears-Packers rivalry is one of the most exciting in the league, it is not the oldest. Chicago’s oldest rivalry is with a team that began its franchise in the same city: the now-Arizona Cardinals.</li>
    <li class="list-group-item">The two teams played each other for the first time in 1920. The Bears didn’t face the Packers until the next season. Some may not view the Cardinals as rivals, but they are.</li>
{% endblock %}

{% block team_6_source %}
    <a href="https://beargoggleson.com/2019/03/01/know-five-facts-chicago-bears" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 7 -->
{% block team_7_image %}
    <a href="https://www.nfl.com/teams/cincinnati-bengals" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_cincinnatibengals.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_cincinnatibengals"></a>
{% endblock %}

{% block team_7_name %}
    Cincinnati Bengals
{% endblock %}

{% block team_7_division %}
    AFC - North
{% endblock %}

{% block team_7_facts %}
    <li class="list-group-item">Founded in 1968.</li>
    <li class="list-group-item">The Cincinnati Bengals are one of 12 NFL franchises that have never won a Super Bowl.</li>
    <li class="list-group-item">Cincinnati has appeared in three Super Bowls (1982, 1989, 2022). The first two Super Bowl appearances were losses to the San Francisco 49ers, the third one they lost to the Los Angeles Rams.</li>
    <li class="list-group-item">The Cleveland Browns are the only team that the Cincinnati Bengals have defeated at least 50 times.</li>
{% endblock %}

{% block team_7_source %}
    <a href="https://refactoid.com/6-facts-about-the-cincinnati-bengals" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 8 -->
{% block team_8_image %}
    <a href="https://www.nfl.com/teams/cleveland-browns" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_clevelandbrowns.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_clevelandbrowns"></a>
{% endblock %}

{% block team_8_name %}
    Cleveland Browns
{% endblock %}

{% block team_8_division %}
    AFC - North
{% endblock %}

{% block team_8_facts %}
    <li class="list-group-item">The Browns have won eight league championships. All came long before the days of the Super Bowl, the Browns still have championship hardware.</li>
    <li class="list-group-item">They are the kings of Cleveland when it comes to winning titles, having more than both the Indians (MLB) and Cavaliers (NBA) combined.</li>
    <li class="list-group-item">Since 1999, the Browns have had 31 starting quarterbacks.</li>
{% endblock %}

{% block team_8_source %}
    <a href="https://dawgpounddaily.com/2019/04/09/cleveland-browns-5-things-every-fan-know" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 9 -->
{% block team_9_image %}
    <a href="https://www.nfl.com/teams/dallas-cowboys" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_dallascowboys.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_dallascowboys"></a>
{% endblock %}

{% block team_9_name %}
    Dallas Cowboys
{% endblock %}

{% block team_9_division %}
    NFC - East
{% endblock %}

{% block team_9_facts %}
    <li class="list-group-item">The Dallas Cowboys don’t play in Dallas. They actually play in Arlington, Texas.</li>
    <li class="list-group-item">They are the wealthiest team in the NFL – with an estimated value of approximately $4 BILLION.</li>
    <li class="list-group-item">The Dallas Cowboys are the only team in NFL history to record 20 straight winning seasons (1966-1985).</li>
    <li class="list-group-item">They’ve won five Superbowls.</li>
    <li class="list-group-item">The Cowboys have the only Superbowl MVP (Chuck Howley) on the losing team.</li>
{% endblock %}

{% block team_9_source %}
    <a href="https://www.tailgaterconcierge.com/12-fun-facts-about-the-dallas-cowboys" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 10 -->
{% block team_10_image %}
    <a href="https://www.nfl.com/teams/denver-broncos" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_denverbroncos.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_denverbroncos"></a>
{% endblock %}

{% block team_10_name %}
    Denver Broncos
{% endblock %}

{% block team_10_division %}
    AFC - West
{% endblock %}

{% block team_10_facts %}
    <li class="list-group-item">Despite being a professional franchise in 1960, the Denver Broncos didn’t have their first winning season until 1973. It was in 1973 that the Denver Broncos finished the season with a winning record (7-5-2) for the first time in the franchise history.</li>
    <li class="list-group-item">The Denver Broncos have won three Super Bowl Titles (1998, 1999, 2016).</li>
    <li class="list-group-item">Gene Mingo was the first African American kicker in the storied history of professional football, played for the Denver Broncos.</li>
{% endblock %}

{% block team_10_source %}
    <a href="https://refactoid.com/5-denver-broncos-facts" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 11 -->
{% block team_11_image %}
    <a href="https://www.nfl.com/teams/detroit-lions" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_detroitlions.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_detroitlions"></a>
{% endblock %}

{% block team_11_name %}
    Detroit Lions
{% endblock %}

{% block team_11_division %}
    NFC - North
{% endblock %}

{% block team_11_facts %}
    <li class="list-group-item">The franchise was originally called the Portsmouth Spartans, the team moved to Detroit in 1934. They same year they played the first Thanksgiving day game.</li>
    <li class="list-group-item">In the pre-1970s (before the Super Bowl era), the Detroit Lions won the NFL Championship on four occasions (1935, 1952, 1953 and 1957).</li>
    <li class="list-group-item">Since 1970, the Lions have only had 6 double-digit win seasons.</li>
    <li class="list-group-item">The Detroit Lions are one of only four franchises to never reach the Super Bowl.</li>
{% endblock %}

{% block team_11_source %}
    <a href="https://refactoid.com/6-facts-about-the-detroit-lions" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 12 -->
{% block team_12_image %}
    <a href="https://www.nfl.com/teams/green-bay-packers" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_greenbaypackers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_greenbaypackers"></a>
{% endblock %}

{% block team_12_name %}
    Green Bay Packers
{% endblock %}

{% block team_12_division %}
    NFC - North
{% endblock %}

{% block team_12_facts %}
    <li class="list-group-item">The Green Bay Packers is the third-oldest franchise in the NFL, established in 1919.</li>
    <li class="list-group-item">What makes them unique is the fact that they are the only non-profit, community-owned major league professional sports team in the US.</li>
    <li class="list-group-item">The team probably has the most loyal fan base in the league. Getting season tickets for the Packers is unimaginably tricky — most people have been on the waiting list for 40 years.</li>
    <li class="list-group-item">The team has won four Super Bowls (1966, 1967, 1996, 2010).</li>
{% endblock %}

{% block team_12_source %}
    <a href="https://packerstalk.com/2020/03/27/interesting-facts-about-the-green-bay-packers" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 13 -->
{% block team_13_image %}
    <a href="https://www.nfl.com/teams/houston-texans" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_houstontexans.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_houstontexans"></a>
{% endblock %}

{% block team_13_name %}
    Houston Texans
{% endblock %}

{% block team_13_division %}
    AFC - South
{% endblock %}

{% block team_13_facts %}
    <li class="list-group-item">The Houston Texans is the newest franchise in the league. They began play in the NFL for the 2002 season.</li>
    <li class="list-group-item">When the Texans first came into the league, it wasn’t the first time that a franchise used that team nickname. From 1960 through 1962, the Dallas Texans were one of the league’s franchises, before they moved in 1963 to become the Kansas City Chiefs.</li>
    <li class="list-group-item">The Texans are one of just four teams to never make the Super Bowl.</li>
{% endblock %}

{% block team_13_source %}
    <a href="https://refactoid.com/6-facts-about-the-houston-texans" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 14 -->
{% block team_14_image %}
    <a href="https://www.nfl.com/teams/indianapolis-colts" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_indianapoliscolts.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_indianapoliscolts"></a>
{% endblock %}

{% block team_14_name %}
    Indianapolis Colts
{% endblock %}

{% block team_14_division %}
    AFC - South
{% endblock %}

{% block team_14_facts %}
    <li class="list-group-item">It was in 1953 that the Baltimore Colts entered the league, they moved to Indianapolis in 1984.</li>
    <li class="list-group-item">The Colts hold the record for the most turnovers committed by a Super Bowl winning team.</li>
    <li class="list-group-item">In Super Bowl V, the Colts committed seven turnovers.</li>
    <li class="list-group-item">The Colts have won two Super Bowl Championships (1971, 2006).</li>
{% endblock %}

{% block team_14_source %}
    <a href="https://refactoid.com/5-indianapolis-colts-facts" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 15 -->
{% block team_15_image %}
    <a href="https://www.nfl.com/teams/jacksonville-jaguars" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_jacksonvillejaguars.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_jacksonvillejaguars"></a>
{% endblock %}

{% block team_15_name %}
    Jacksonville Jaguars
{% endblock %}

{% block team_15_division %}
    AFC - South
{% endblock %}

{% block team_15_facts %}
    <li class="list-group-item">Founded alongside the in 1995 as an expansion team.</li>
    <li class="list-group-item">The Jaguars made an early impact in the NFL by qualifying for the playoffs four years in a row, between their second and fifth seasons.</li>
    <li class="list-group-item">They have only three playoff appearances and one division title since 2000.</li>
    <li class="list-group-item">They are one of four NFL franchises that has never played in the Super Bowl.</li>
{% endblock %}

{% block team_15_source %}
    <a href="https://kids.kiddle.co/Jacksonville_Jaguars" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 16 -->
{% block team_16_image %}
    <a href="https://www.nfl.com/teams/kansas-city-chiefs" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_kansascitychiefs.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_kansascitychiefs"></a>
{% endblock %}

{% block team_16_name %}
    Kansas City Chiefs
{% endblock %}

{% block team_16_division %}
    AFC - West
{% endblock %}

{% block team_16_facts %}
    <li class="list-group-item">Kansas City actually played in the first Super Bowl game against the Green Bay Packers, they lost.</li>
    <li class="list-group-item">With the Chiefs earning a spot in Super Bowl 54, it ends a 50-year streak of not having played in the big game.</li>
    <li class="list-group-item">Their heritage actually started in Dallas, where they were known as the Texans.</li>
    <li class="list-group-item">The Kansas City Chiefs are known for their loud fans, so much so, that they hold the World Record for the loudest crowd roar at a sports stadium at 142.2 dbA.</li>
{% endblock %}

{% block team_16_source %}
    <a href="https://www.thethings.com/18-surprising-facts-about-the-kansas-city-chiefs" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 17 -->
{% block team_17_image %}
    <a href="https://www.nfl.com/teams/las-vegas-raiders" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_lasvegasraiders.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_lasvegasraiders"></a>
{% endblock %}

{% block team_17_name %}
    Las Vegas Raiders
{% endblock %}

{% block team_17_division %}
    AFC - West
{% endblock %}

{% block team_17_facts %}
    <li class="list-group-item">The Raiders were founded in 1960 as one of the eight original teams of the American Football League.</li>
    <li class="list-group-item">In 2020, the Raiders moved to Las Vegas (they were located in Oakland previously).</li>
    <li class="list-group-item">The Raiders captured three Super Bowl Championships (1977, 1981, 1984).</li>
    <li class="list-group-item">With an image influenced by underdogs and outlaws, the Raiders are known for their rabid fan devotion. It’s not uncommon for members of Raider Nation to dress up in elaborate black and silver costumes for games. The so called "Raiders Nation".</li>
{% endblock %}

{% block team_17_source %}
    <a href="https://www.move4lessnevada.com/fun-facts-about-the-las-vegas-raiders" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 18 -->
{% block team_18_image %}
    <a href="https://www.nfl.com/teams/los-angeles-chargers" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_losangeleschargers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_losangeleschargers"></a>
{% endblock %}

{% block team_18_name %}
    Los Angeles Chargers
{% endblock %}

{% block team_18_division %}
    AFC - West
{% endblock %}

{% block team_18_facts %}
    <li class="list-group-item">The Chargers entered the world of professional football in 1960 as the Los Angeles Chargers, and moved to San Diego the following season.</li>
    <li class="list-group-item">In 2016 they returned to Los Angeles for the start of the 2017 NFL season.</li>
    <li class="list-group-item">The Chargers joined the NFL in 1970, but have only appeared in one Super Bowl (1994) since. They lost against the San Francisco 49ers.</li>
{% endblock %}

{% block team_18_source %}
    <a href="https://refactoid.com/5-los-angeles-chargers-facts" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 19 -->
{% block team_19_image %}
    <a href="https://www.nfl.com/teams/los-angeles-rams" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_losangelesrams.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_losangelesrams"></a>
{% endblock %}

{% block team_19_name %}
    Los Angeles Rams
{% endblock %}

{% block team_19_division %}
    NFC - West
{% endblock %}

{% block team_19_facts %}
    <li class="list-group-item">The Rams were originally located in Cleveland.</li>
    <li class="list-group-item">The team left Cleveland for Los Angeles in 1946, would leave Los Angeles for St. Louis in 1996, and would return back home to Los Angeles for the 2016 NFL season.</li>
    <li class="list-group-item">The Rams have appeared in five Super Bowls, and won twice. Last time they've won was in 2021, so The Los angeles Rams are the current champions.</li>
{% endblock %}

{% block team_19_source %}
    <a href="https://refactoid.com/5-los-angeles-rams-facts" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 20 -->
{% block team_20_image %}
    <a href="https://www.nfl.com/teams/miami-dolphins" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_miamidolphins.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_miamidolphins"></a>
{% endblock %}

{% block team_20_name %}
    Miami Dolphins
{% endblock %}

{% block team_20_division %}
    AFC - East
{% endblock %}

{% block team_20_facts %}
    <li class="list-group-item">In the 1970 AFL–NFL merger, the Miami Dolphins joined the NFL.</li>
    <li class="list-group-item">The team made its first Super Bowl appearance in Super Bowl VI, losing to the Dallas Cowboys.</li>
    <li class="list-group-item">The Dolphins completed the NFL's only perfect season, culminating in a Super Bowl win, winning all 14 of their regular season games, and all three of their playoff games, including Super Bowl VII.</li>
    <li class="list-group-item">The next year, the Dolphins won Super Bowl VIII, becoming the second team to win back-to-back championships.</li>
{% endblock %}

{% block team_20_source %}
    <a href="https://kids.kiddle.co/Miami_Dolphins" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 21 -->
{% block team_21_image %}
    <a href="https://www.nfl.com/teams/minnesota-vikings" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_minnesotavikings.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_minnesotavikings"></a>
{% endblock %}

{% block team_21_name %}
    Minnesota Vikings
{% endblock %}

{% block team_21_division %}
    NFC - North
{% endblock %}

{% block team_21_facts %}
    <li class="list-group-item">In the year 1362, it's believed that the Vikings did move to western Minnesota.</li>
    <li class="list-group-item">The Minnesota Vikings are named after the Vikings of Scandinavia. They were earlier called Miners or Chippewas.</li>
    <li class="list-group-item">The Vikings lost all the Super Bowls they appeared in (1970, 1974, 1975, 1977).</li>
    <li class="list-group-item">The U.S. Bank Stadium is their home stadium since it's in Minnesota.</li>
{% endblock %}

{% block team_21_source %}
    <a href="https://kidadl.com/fun-facts/minnesota-vikings-facts-you-will-love-as-a-football-fan" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 22 -->
{% block team_22_image %}
    <a href="https://www.nfl.com/teams/new-england-patriots" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_newenglandpatriots.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_newenglandpatriots"></a>
{% endblock %}

{% block team_22_name %}
    New England Patriots
{% endblock %}

{% block team_22_division %}
    AFC - East
{% endblock %}

{% block team_22_facts %}
    <li class="list-group-item">The franchise was known as the Boston Patriots until 1970 before rebranding as the New England Patriots, in Foxborough.</li>
    <li class="list-group-item">Since 2001, the Patriots have won the Division every single year outside of 2002, 2008 and 2020.</li>
    <li class="list-group-item">The New England Patriots have the most Super Bowl appearance on 11 different occasions, compiling a 6-5 record all-time.</li>
    <li class="list-group-item">They got the most Super Bowl wins by the legendary coach-quarterback duo, as quarterback Tom Brady and head coach Bill Belichick won six Lombardi Trophies as a tandem.</li>
{% endblock %}

{% block team_22_source %}
    <a href="https://refactoid.com/6-new-england-patriots-facts" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 23 -->
{% block team_23_image %}
    <a href="https://www.nfl.com/teams/new-orleans-saints" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_neworleanssaints.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_neworleanssaints"></a>
{% endblock %}

{% block team_23_name %}
    New Orleans Saints
{% endblock %}

{% block team_23_division %}
    NFC - South
{% endblock %}

{% block team_23_facts %}
    <li class="list-group-item">The team's foundation date is November 1, 1966 - All-Saints Day.</li>
    <li class="list-group-item">The Saints didn't make it to the playoffs until 1987, 20 years after the team's beginnings.</li>
    <li class="list-group-item">The Saints were one of the teams to play in the NFL's first game outside the USA. The team played an exhibition game against the Eagles in Mexico City on August 5, 1978.</li>
    <li class="list-group-item">They only played one Super Bowl (XLIV), which they've won, in 2010.</li>
{% endblock %}

{% block team_23_source %}
    <a href="https://www.saintjameshotel.com/blog/10-fun-facts-you-might-not-know-about-the-new-orleans-saints" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 24 -->
{% block team_24_image %}
    <a href="https://www.nfl.com/teams/new-york-giants" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_newyorkgiants.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_newyorkgiants"></a>
{% endblock %}

{% block team_24_name %}
    New York Giants
{% endblock %}

{% block team_24_division %}
    NFC - East
{% endblock %}

{% block team_24_facts %}
    <li class="list-group-item">The Giants are the second oldest franchise in the NFL, they joined in 1925.</li>
    <li class="list-group-item">Giants founder Tim Mara purchased the New York Giants for just $500. As of September 2020, the franchise was worth $4.3 billion.</li>
    <li class="list-group-item">The Giants trailed at halftime in every Super Bowl they played in (1987, 1991, 2001, 2008, 2012). They won four times, only lost in 2001 at Super Bowl XXXV.</li>
{% endblock %}

{% block team_24_source %}
    <a href="https://refactoid.com/8-facts-about-the-new-york-giants" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 25 -->
{% block team_25_image %}
    <a href="https://www.nfl.com/teams/new-york-jets" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_newyorkjets.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_newyorkjets"></a>
{% endblock %}

{% block team_25_name %}
    New York Jets
{% endblock %}

{% block team_25_division %}
    AFC - East
{% endblock %}

{% block team_25_facts %}
    <li class="list-group-item">The New York Jets are one of the original AFL teams.</li>
    <li class="list-group-item">The franchise was originally called the New York Titans from 1960 to 1962.</li>
    <li class="list-group-item">The franchise was saved from bankruptcy by a five-man syndicate and purchased for $1 million. The team played their games at Shea Stadium near LaGuardia Airport, they were renamed as the Jets.</li>
    <li class="list-group-item">Since 1968, the New York Jets have appeared in the NFL playoffs 14 times. The Jets only Super Bowl win came at Super Bowl III (1969).</li>
{% endblock %}

{% block team_25_source %}
    <a href="https://refactoid.com/5-facts-about-the-new-york-jets" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 26 -->
{% block team_26_image %}
    <a href="https://www.nfl.com/teams/philadelphia-eagles" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_philadelphiaeagles.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_philadelphiaeagles"></a>
{% endblock %}

{% block team_26_name %}
    Philadelphia Eagles
{% endblock %}

{% block team_26_division %}
    NFC - East
{% endblock %}

{% block team_26_facts %}
    <li class="list-group-item">Due to a shortage of players, because of many younger prospects off fighting in World War II, the Philadelphia Eagles had to temporarily merge with the Pittsburgh Steelers for the 1943 NFL season. For that season, they were called the Phil-Pitt Steagles.</li>
    <li class="list-group-item">The Eagles played in the NFL’s first televised game on October 22, 1939. The Brooklyn Dodgers defeated the Philadelphia Eagles by a final score of 23-14.</li>
{% endblock %}

{% block team_26_source %}
    <a href="https://refactoid.com/5-soaring-facts-abouthe-philadelphia-eagles" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 27 -->
{% block team_27_image %}
    <a href="https://www.nfl.com/teams/pittsburgh-steelers" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_pittsburghsteelers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_pittsburghsteelers"></a>
{% endblock %}

{% block team_27_name %}
    Pittsburgh Steelers
{% endblock %}

{% block team_27_division %}
    AFC - North
{% endblock %}

{% block team_27_facts %}
    <li class="list-group-item">The team originally entered the NFL as the Pittsburgh Pirates. Prior to the 1940 season, the Pirates renamed the franchise to the Pittsburgh Steelers.</li>
    <li class="list-group-item">The Pittsburgh Steelers are one of only two franchises to win the Super Bowl six times (along with the New England Patriots).</li>
    <li class="list-group-item">As so many players were lost to military service for World War II, for the 1943 NFL season, the Pittsburgh Steelers merged with the Philadelphia Eagles to become the Phil-Pitt Steagles.</li>
{% endblock %}

{% block team_27_source %}
    <a href="https://refactoid.com/6-pittsburgh-steelers-facts" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 28 -->
{% block team_28_image %}
    <a href="https://www.nfl.com/teams/san-francisco-49ers" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_sanfrancisco49ers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_sanfrancisco49ers"></a>
{% endblock %}

{% block team_28_name %}
    San Francisco 49ers
{% endblock %}

{% block team_28_division %}
    NFC - West
{% endblock %}

{% block team_28_facts %}
    <li class="list-group-item">The very first regular season game for the San Francisco 49ers was against the New York Yankees.</li>
    <li class="list-group-item">he New York Yankees were a very short-lived team that played only in the AAFC from 1946 through 1949, and shared a home field at Yankee Stadium with their more popular (and more successful) baseball counterpart.</li>
    <li class="list-group-item">Between 1981 and 1994, the San Francisco 49ers dominated the NFL. The 49ers have won the Super Bowl five times (1982, 1985, 1989, 1990, 1995).</li>
{% endblock %}

{% block team_28_source %}
    <a href="https://refactoid.com/5-facts-about-the-san-francisco-49ers" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 29 -->
{% block team_29_image %}
    <a href="https://www.nfl.com/teams/seattle-seahawks" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_seattleseahawks.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_seattleseahawks"></a>
{% endblock %}

{% block team_29_name %}
    Seattle Seahawks
{% endblock %}

{% block team_29_division %}
    NFC - West
{% endblock %}

{% block team_29_facts %}
    <li class="list-group-item">The Seattle Seahawks are the only team in the NFL with the same first three letters in both the city and team name.</li>
    <li class="list-group-item">There were several team names suggested by fans, before “Seahawks” was ultimately chosen - i.e. Rainbeams, Pachyderms, Running Salmon, Washington Georges.</li>
    <li class="list-group-item">Despite beginning play for the 1976 NFL season, the Seattle Seahawks didn’t win their first playoff game until 1983.</li>
    <li class="list-group-item">Out of their 3 Super Bowls (2005, 2013, 2014), they've only won once, in 2013.</li>
{% endblock %}

{% block team_29_source %}
    <a href="https://refactoid.com/6-facts-about-the-seattle-seahawks" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- TEAM 30 -->
{% block team_30_image %}
    <a href="https://www.nfl.com/teams/tampa-bay-buccaneers" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_tampabaybuccaneers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_tampabaybuccaneers"></a>
{% endblock %}

{% block team_30_name %}
    Tampa Bay Buccaneers
{% endblock %}

{% block team_30_division %}
    NFC - South
{% endblock %}

{% block team_30_facts %}
    <li class="list-group-item">The Buccaneers had 26 consecutive losses in their first two seasons (including a winless inaugural season) and 14 consecutive losing seasons from 1983 to 1996.</li>
    <li class="list-group-item">They won their first Super Bowl title in Super Bowl XXXVII. This remained their only playoff win for nearly two decades until they won their second title in Super Bowl LV.</li>
    <li class="list-group-item">Along with the Baltimore Ravens, the Buccaneers are only one of two NFL franchises to be undefeated in multiple Super Bowl appearances.</li>
{% endblock %}

{% block team_30_source %}
    <a href="https://kids.kiddle.co/Tampa_Bay_Buccaneers" target="_blank" rel="noopener noreferrer">source</a>
{% endblock %}


<!-- a maradék két csapat -->
<!-- TEAM 31 -->
{% block team_31_full %}
    <div class="card border own-border-color mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="col-1" align="center">
                <a href="https://www.nfl.com/teams/tennessee-titans" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_tennesseetitans.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_tennesseetitans"></a>
            </div>
            <div class="col-11">
                <h5 class="card-title own-text-color">Tennessee Titans</h5>
                <h6 class="card-subtitle text-muted">AFC - South</h6>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">The Tennessee Titans are one of twelve NFL franchises to have never won the Super Bowl.</li>
                <li class="list-group-item">The Titans have appeared in one Super Bowl, which they lost to the St. Louis Rams in Super Bowl XXXIV, in 2000.</li>
                <li class="list-group-item">The 1999 season, Jacksonville went 14-2 in the regular season, with both losses coming to the Tennessee Titans. Later on in the playoffs, they would fall to the Titans in the AFC Championship Game. It’s the only time in NFL history where a team went 14-3 (including the playoffs) and had all three losses come to the same franchise.</li>
            </ul>
        </div>
        <div class="card-footer text-end">
            <em><a href="https://refactoid.com/5-tennessee-titans-facts" target="_blank" rel="noopener noreferrer">source</a></em>
        </div>
    </div>
{% endblock %}


<!-- TEAM 32 -->
{% block team_32_full %}
    <div class="card border own-border-color mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="col-1" align="center">
                <a href="https://www.nfl.com/teams/washington-commanders" target="_blank" rel="noopener noreferrer"><img src="/static/nfl_washingtoncommanders.png"  width="60" height="60" class="img-fluid rounded-start" alt="nfl_washingtoncommanders"></a>
            </div>
            <div class="col-11">
                <h5 class="card-title own-text-color">Washington Commanders</h5>
                <h6 class="card-subtitle text-muted">NFC - East</h6>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">The team was founded in 1932 as the Boston Braves; it changed its name to the Boston Redskins the following year. The franchise moved to Washington, D.C., in 1937 and became the Washington Redskins.</li>
                <li class="list-group-item">In 2020, pressure from several NFL and team sponsors led to it being retired as part of a wave of name changes in the wake of the George Floyd protests. The team played as the Washington Football Team for two seasons before rebranding as the Commanders in 2022.</li>
                <li class="list-group-item">The team won three Super Bowls - XVII, XXII, and XXVI.</li>
            </ul>
        </div>
        <div class="card-footer text-end">
            <em><a href="https://en.wikipedia.org/wiki/Washington_Commanders" target="_blank" rel="noopener noreferrer">source</a></em>
        </div>
    </div>
{% endblock %}
