{% extends "tickets_base.html" %}


{% block title %}
    NHL Tickets
{% endblock %}


{% block title_icon %}
    <link rel="icon" href="/static/logo_nhl.png" type="image/png">
{% endblock %}


{% block tickets_league %}
    NHL
{% endblock %}


{% block tickets_image %}
    <img src="/static/logo_nhl.png" width="45" height="45" class="img-fluid rounded-start" alt="logo_nhl">
{% endblock %}


<!-- TEAM 1 -->
{% block team_1_image %}
    <a href="https://www.nhl.com/ducks" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_anaheimducks.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_anaheimducks"></a>
{% endblock %}

{% block team_1_name %}
    Anaheim Ducks
{% endblock %}

{% block team_1_stadium %}
    <a href="https://www.google.com/maps/place/Honda+Center/@33.8078476,-117.8786574,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcd7758433275f:0xa88a2a13ca2a5515!8m2!3d33.8078476!4d-117.8764687" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Honda Center
{% endblock %}

{% block team_1_tickets %}
    <a href="https://www.nhl.com/ducks/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 2 -->
{% block team_2_image %}
    <a href="https://www.nhl.com/coyotes" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_arizonacoyotes.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_arizonacoyotes"></a>
{% endblock %}

{% block team_2_name %}
    Arizona Coyotes
{% endblock %}

{% block team_2_stadium %}
    <a href="https://www.google.com/maps/place/Gila+River+Arena/@33.532074,-112.263405,17z/data=!3m1!4b1!4m5!3m4!1s0x872b4035fb76e9cb:0x47f4e4e0da5d86f4!8m2!3d33.532074!4d-112.2612163" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Gila River Arena
{% endblock %}

{% block team_2_tickets %}
    <a href="https://www.nhl.com/coyotes/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 3 -->
{% block team_3_image %}
    <a href="https://www.nhl.com/bruins" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_bostonbruins.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_bostonbruins"></a>
{% endblock %}

{% block team_3_name %}
    Boston Bruins
{% endblock %}

{% block team_3_stadium %}
    <a href="https://www.google.com/maps/place/TD+Garden/@42.366198,-71.0643347,17z/data=!3m1!4b1!4m5!3m4!1s0x89e3708e162d05cb:0x32d335fe5ed797a8!8m2!3d42.366198!4d-71.062146" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    TD Garden
{% endblock %}

{% block team_3_tickets %}
    <a href="https://www.nhl.com/bruins/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 4 -->
{% block team_4_image %}
    <a href="https://www.nhl.com/sabres" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_buffalosabres.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_buffalosabres"></a>
{% endblock %}

{% block team_4_name %}
    Buffalo Sabres
{% endblock %}

{% block team_4_stadium %}
    <a href="https://www.google.com/maps/place/KeyBank+Center/@42.8750811,-78.8787326,17z/data=!4m5!3m4!1s0x89d3123685cc20ef:0x66a1f5b40bf9791b!8m2!3d42.8750811!4d-78.8765439" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    KeyBank Center
{% endblock %}

{% block team_4_tickets %}
    <a href="https://www.nhl.com/sabres/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 5 -->
{% block team_5_image %}
    <a href="https://www.nhl.com/flames" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_calgaryflames.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_calgaryflames"></a>
{% endblock %}

{% block team_5_name %}
    Calgary Flames
{% endblock %}

{% block team_5_stadium %}
    <a href="https://www.google.com/maps/place/Scotiabank+Saddledome/@51.0374336,-114.0541228,17z/data=!3m1!4b1!4m5!3m4!1s0x53717006f541ee83:0x75a7615f3d694d8e!8m2!3d51.0374336!4d-114.0519341" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Scotiabank Saddledome
{% endblock %}

{% block team_5_tickets %}
    <a href="https://www.nhl.com/flames/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 6 -->
{% block team_6_image %}
    <a href="https://www.nhl.com/hurricanes" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_carolinahurricanes.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_carolinahurricanes"></a>
{% endblock %}

{% block team_6_name %}
    Carolina Hurricanes
{% endblock %}

{% block team_6_stadium %}
    <a href="https://www.google.com/maps/place/PNC+Arena/@35.803329,-78.7239905,17z/data=!3m1!4b1!4m5!3m4!1s0x89acf43c4ba07d07:0x1bd2c17205f104d1!8m2!3d35.803329!4d-78.7218018" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    PNC Arena
{% endblock %}

{% block team_6_tickets %}
    <a href="https://www.nhl.com/hurricanes/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 7 -->
{% block team_7_image %}
    <a href="https://www.nhl.com/blackhawks" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_chicagoblackhawks.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_chicagoblackhawks"></a>
{% endblock %}

{% block team_7_name %}
    Chicago Blackhawks
{% endblock %}

{% block team_7_stadium %}
    <a href="https://www.google.com/maps/place/United+Center/@41.8806908,-87.6763646,17z/data=!3m1!4b1!4m5!3m4!1s0x880e2d3ecaa9b54f:0x9b93f0068cf00344!8m2!3d41.8806908!4d-87.6741759" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    United Center
{% endblock %}

{% block team_7_tickets %}
    <a href="https://www.nhl.com/blackhawks/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 8 -->
{% block team_8_image %}
    <a href="https://www.nhl.com/avalanche" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_coloradoavalanche.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_coloradoavalanche"></a>
{% endblock %}

{% block team_8_name %}
    Colorado Avalanche
{% endblock %}

{% block team_8_stadium %}
    <a href="https://www.google.com/maps/place/Ball+Arena/@39.7486565,-105.0097915,17z/data=!4m5!3m4!1s0x876c78b866687b77:0x7bec273737d47786!8m2!3d39.7486565!4d-105.0076028" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Ball Arena
{% endblock %}

{% block team_8_tickets %}
    <a href="https://www.nhl.com/avalanche/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 9 -->
{% block team_9_image %}
    <a href="https://www.nhl.com/bluejackets" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_columbusbluejackets.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_columbusbluejackets"></a>
{% endblock %}

{% block team_9_name %}
    Columbus Blue Jackets
{% endblock %}

{% block team_9_stadium %}
    <a href="https://www.google.com/maps/place/Nationwide+Arena/@39.9692072,-83.008237,17z/data=!4m5!3m4!1s0x88388f25cebcffeb:0x623a2141f5ed0c49!8m2!3d39.9692072!4d-83.0060483" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Nationwide Arena
{% endblock %}

{% block team_9_tickets %}
    <a href="https://www.nhl.com/bluejackets/tickets/ticket-central" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 10 -->
{% block team_10_image %}
    <a href="https://www.nhl.com/stars" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_dallasstars.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_dallasstars"></a>
{% endblock %}

{% block team_10_name %}
    Dallas Stars
{% endblock %}

{% block team_10_stadium %}
    <a href="https://www.google.com/maps/place/American+Airlines+Center/@32.7904566,-96.8128234,17z/data=!3m1!5s0x864e9939baab17c5:0x759ae74e521ed0ee!4m9!1m2!2m1!1sdallas+mavericks+arena!3m5!1s0x864e992f5ccee5af:0x21611d4f28860fa3!8m2!3d32.7903908!4d-96.8102547!15sChZkYWxsYXMgbWF2ZXJpY2tzIGFyZW5hWhgiFmRhbGxhcyBtYXZlcmlja3MgYXJlbmGSAQVhcmVuYZoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VNeWNDMTJkelJSUlJBQg" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    American Airlines Center
{% endblock %}

{% block team_10_tickets %}
    <a href="https://www.nhl.com/stars/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 11 -->
{% block team_11_image %}
    <a href="https://www.nhl.com/redwings" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_detroitredwings.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_detroitredwings"></a>
{% endblock %}

{% block team_11_name %}
    Detroit Red Wings
{% endblock %}

{% block team_11_stadium %}
    <a href="https://www.google.com/maps/place/Little+Caesars+Arena/@42.3411026,-83.057456,17z/data=!4m5!3m4!1s0x8824d2cb21bf140b:0xcb0fd860979f4678!8m2!3d42.3411026!4d-83.0552673" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Little Caesars Arena
{% endblock %}

{% block team_11_tickets %}
    <a href="https://www.nhl.com/redwings/tickets/single-game" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 12 -->
{% block team_12_image %}
    <a href="https://www.nhl.com/oilers" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_edmontonoilers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_edmontonoilers"></a>
{% endblock %}

{% block team_12_name %}
    Edmonton Oilers
{% endblock %}

{% block team_12_stadium %}
    <a href="https://www.google.com/maps/place/Rogers+Place/@53.5469755,-113.4999891,17z/data=!4m5!3m4!1s0x53a0224eb8052c15:0x3fec58e4ace8d4d8!8m2!3d53.5469755!4d-113.4978004" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Rogers Place
{% endblock %}

{% block team_12_tickets %}
    <a href="https://www.nhl.com/oilers/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 13 -->
{% block team_13_image %}
    <a href="https://www.nhl.com/panthers" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_floridapanthers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_floridapanthers"></a>
{% endblock %}

{% block team_13_name %}
    Florida Panthers
{% endblock %}

{% block team_13_stadium %}
    <a href="https://www.google.com/maps/place/FLA+Live+Arena/@26.1584958,-80.3277091,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9091a5a97312d:0x3272bbb9afe950ae!8m2!3d26.1584958!4d-80.3255204" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    FLA Live Arena
{% endblock %}

{% block team_13_tickets %}
    <a href="https://www.nhl.com/panthers/tickets/ticketcentral" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 14 -->
{% block team_14_image %}
    <a href="https://www.nhl.com/kings" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_losangeleskings.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_losangeleskings"></a>
{% endblock %}

{% block team_14_name %}
    Los Angeles Kings
{% endblock %}

{% block team_14_stadium %}
    <a href="https://www.google.com/maps/place/Crypto.com+Arena/@34.0430175,-118.2694428,17z/data=!4m5!3m4!1s0x80c2c7b85dea2a93:0x1ff47c3ceb7bb2d5!8m2!3d34.0430175!4d-118.2672541" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Crypto.com Arena
{% endblock %}

{% block team_14_tickets %}
    <a href="https://www.nhl.com/kings/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 15 -->
{% block team_15_image %}
    <a href="https://www.nhl.com/wild" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_minnesotawild.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_minnesotawild"></a>
{% endblock %}

{% block team_15_name %}
    Minnesota Wild
{% endblock %}

{% block team_15_stadium %}
    <a href="https://www.google.com/maps/place/Xcel+Energy+Center/@44.944596,-93.1023557,17z/data=!3m1!4b1!4m5!3m4!1s0x52b32b2d43196a29:0x5f7b3966492415b5!8m2!3d44.944596!4d-93.100167" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Xcel Energy Center
{% endblock %}

{% block team_15_tickets %}
    <a href="https://www.nhl.com/wild/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 16 -->
{% block team_16_image %}
    <a href="https://www.nhl.com/canadiens" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_montrealcanadiens.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_montrealcanadiens"></a>
{% endblock %}

{% block team_16_name %}
    Montreal Canadiens
{% endblock %}

{% block team_16_stadium %}
    <a href="https://www.google.com/maps/place/Centre+Bell/@45.4960667,-73.571504,17z/data=!4m5!3m4!1s0x4cc91a6802ef36ff:0x112f006b9aeff7ae!8m2!3d45.4960667!4d-73.5693153" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Centre Bell
{% endblock %}

{% block team_16_tickets %}
    <a href="https://www.nhl.com/canadiens/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 17 -->
{% block team_17_image %}
    <a href="https://www.nhl.com/predators" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_nashvillepredators.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_nashvillepredators"></a>
{% endblock %}

{% block team_17_name %}
    Nashville Predators
{% endblock %}

{% block team_17_stadium %}
    <a href="https://www.google.com/maps/place/Bridgestone+Arena/@36.1591736,-86.7806846,17z/data=!3m1!4b1!4m5!3m4!1s0x8864665ec38d6447:0xa900537ecd3f6612!8m2!3d36.1591736!4d-86.7784959" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Bridgestone Arena
{% endblock %}

{% block team_17_tickets %}
    <a href="https://www.nhl.com/predators/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 18 -->
{% block team_18_image %}
    <a href="https://www.nhl.com/devils" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_newjerseydevils.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_newjerseydevils"></a>
{% endblock %}

{% block team_18_name %}
    New Jersey Devils
{% endblock %}

{% block team_18_stadium %}
    <a href="https://www.google.com/maps/place/Prudential+Center/@40.733537,-74.1732546,17z/data=!4m5!3m4!1s0x89c253829a70f1d3:0x4d3efa6b5652a5ac!8m2!3d40.733537!4d-74.1710659" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Prudential Center
{% endblock %}

{% block team_18_tickets %}
    <a href="https://www.nhl.com/devils/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 19 -->
{% block team_19_image %}
    <a href="https://www.nhl.com/islanders" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_newyorkislanders.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_newyorkislanders"></a>
{% endblock %}

{% block team_19_name %}
    New York Islanders
{% endblock %}

{% block team_19_stadium %}
    <a href="https://www.google.com/maps/place/UBS+Arena/@40.7117901,-73.7282285,17z/data=!4m5!3m4!1s0x89c2633f9861a271:0xbebf4324fbbe945a!8m2!3d40.7117901!4d-73.7260398" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    UBS Arena
{% endblock %}

{% block team_19_tickets %}
    <a href="https://www.nhl.com/islanders/tickets/ticket-central" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 20 -->
{% block team_20_image %}
    <a href="https://www.nhl.com/rangers" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_newyorkrangers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_newyorkrangers"></a>
{% endblock %}

{% block team_20_name %}
    New York Rangers
{% endblock %}

{% block team_20_stadium %}
    <a href="https://www.google.com/maps/place/Madison+Square+Garden/@40.7505045,-73.9956274,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25a21fb011c85:0x33df10e49762f8e4!8m2!3d40.7505045!4d-73.9934387" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Madison Square Garden
{% endblock %}

{% block team_20_tickets %}
    <a href="https://www.nhl.com/rangers/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 21 -->
{% block team_21_image %}
    <a href="https://www.nhl.com/senators" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_ottawasenators.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_ottawasenators"></a>
{% endblock %}

{% block team_21_name %}
    Ottawa Senators
{% endblock %}

{% block team_21_stadium %}
    <a href="https://www.google.com/maps/place/Canadian+Tire+Centre/@45.2969151,-75.9290117,17z/data=!3m1!4b1!4m5!3m4!1s0x4cd200887f449a1b:0xa64f6ac417f319f1!8m2!3d45.2969151!4d-75.926823" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Canadian Tire Centre
{% endblock %}

{% block team_21_tickets %}
    <a href="https://www.nhl.com/senators/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 22 -->
{% block team_22_image %}
    <a href="https://www.nhl.com/flyers" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_philadelphiaflyers.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_philadelphiaflyers"></a>
{% endblock %}

{% block team_22_name %}
    Philadelphia Flyers
{% endblock %}

{% block team_22_stadium %}
    <a href="https://www.google.com/maps/place/Wells+Fargo+Center/@39.9012015,-75.1741682,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c5ec0fe3b147:0x529f31b23f45ba2d!8m2!3d39.9012015!4d-75.1719795" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Wells Fargo Center
{% endblock %}

{% block team_22_tickets %}
    <a href="https://www.nhl.com/flyers/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 23 -->
{% block team_23_image %}
    <a href="https://www.nhl.com/penguins" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_pittsburghpenguins.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_pittsburghpenguins"></a>
{% endblock %}

{% block team_23_name %}
    Pittsburgh Penguins
{% endblock %}

{% block team_23_stadium %}
    <a href="https://www.google.com/maps/place/PPG+Paints+Arena/@40.4393097,-79.9917416,17z/data=!3m1!4b1!4m5!3m4!1s0x8834f15e8eaaaaab:0x1c1b1fdbf269c5fe!8m2!3d40.4393097!4d-79.9895529" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    PPG Paints Arena
{% endblock %}

{% block team_23_tickets %}
    <a href="https://www.nhl.com/penguins/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 24 -->
{% block team_24_image %}
    <a href="https://www.nhl.com/sharks" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_sanjosesharks.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_sanjosesharks"></a>
{% endblock %}

{% block team_24_name %}
    San Jose Sharks
{% endblock %}

{% block team_24_stadium %}
    <a href="https://www.google.com/maps/place/SAP+Center+at+San+Jose/@37.3329688,-121.9041893,17z/data=!3m1!4b1!4m5!3m4!1s0x808fcca099939eab:0x2dfa6f2f5ba99024!8m2!3d37.3329688!4d-121.9020006" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    SAP Center at San Jose
{% endblock %}

{% block team_24_tickets %}
    <a href="https://www.nhl.com/sharks/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 25 -->
{% block team_25_image %}
    <a href="https://www.nhl.com/kraken" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_seattlekraken.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_seattlekraken"></a>
{% endblock %}

{% block team_25_name %}
    Seattle Kraken
{% endblock %}

{% block team_25_stadium %}
    <a href="https://www.google.com/maps/place/Climate+Pledge+Arena/@47.6220713,-122.3562601,17z/data=!4m5!3m4!1s0x5490154471be8ed3:0xde04af6753ca2e27!8m2!3d47.6220713!4d-122.3540714" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Climate Pledge Arena
{% endblock %}

{% block team_25_tickets %}
    <a href="https://www.nhl.com/kraken/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 26 -->
{% block team_26_image %}
    <a href="https://www.nhl.com/blues" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_stlouisblues.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_stlouisblues"></a>
{% endblock %}

{% block team_26_name %}
    St. Louis Blues
{% endblock %}

{% block team_26_stadium %}
    <a href="https://www.google.com/maps/place/Scottrade+Center/@38.6268402,-90.204867,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b313f33f9ffd:0x16d092e190f89a21!8m2!3d38.6268402!4d-90.2026783" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Scottrade Center
{% endblock %}

{% block team_26_tickets %}
    <a href="https://www.nhl.com/blues/ticketsw" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 27 -->
{% block team_27_image %}
    <a href="https://www.nhl.com/lightning" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_tampabaylightning.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_tampabaylightning"></a>
{% endblock %}

{% block team_27_name %}
    Tampa Bay Lightning
{% endblock %}

{% block team_27_stadium %}
    <a href="https://www.google.com/maps/place/Amalie+Arena/@27.9427373,-82.4539658,17z/data=!3m1!4b1!4m5!3m4!1s0x88c2c48d32bf5d49:0x2ba1ab03c399c073!8m2!3d27.9427373!4d-82.4517771" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Amalie Arena
{% endblock %}

{% block team_27_tickets %}
    <a href="https://www.nhl.com/lightning/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 28 -->
{% block team_28_image %}
    <a href="https://www.nhl.com/mapleleafs" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_torontomapleleafs.png"  width="55" height="55" class="img-fluid rounded-start" alt="nhl_torontomapleleafs"></a>
{% endblock %}

{% block team_28_name %}
    Toronto Maple Leafs
{% endblock %}

{% block team_28_stadium %}
    <a href="https://www.google.com/maps/place/Scotiabank+Arena/@43.6434661,-79.3812876,17z/data=!3m1!4b1!4m5!3m4!1s0x89d4cb2b5935bf09:0x5842d0e7d5669410!8m2!3d43.6434661!4d-79.3790989" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Scotiabank Arena
{% endblock %}

{% block team_28_tickets %}
    <a href="https://www.nhl.com/mapleleafs/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 29 -->
{% block team_29_image %}
    <a href="https://www.nhl.com/canucks" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_vancouvercanucks.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_vancouvercanucks"></a>
{% endblock %}

{% block team_29_name %}
    Vancouver Canucks
{% endblock %}

{% block team_29_stadium %}
    <a href="https://www.google.com/maps/place/Rogers+Arena/@49.2778358,-123.1110114,17z/data=!3m1!4b1!4m5!3m4!1s0x5486717c9d5bb52b:0x9e0470e4c990b209!8m2!3d49.2778358!4d-123.1088227" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    Rogers Arena
{% endblock %}

{% block team_29_tickets %}
    <a href="https://tickets.canucks.com/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 30 -->
{% block team_30_image %}
    <a href="https://www.nhl.com/goldenknights" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_vegasgoldenknights.png"  width="45" height="45" class="img-fluid rounded-start" alt="nhl_vegasgoldenknights"></a>
{% endblock %}

{% block team_30_name %}
    Vegas Golden Knights
{% endblock %}

{% block team_30_stadium %}
    <a href="https://www.google.com/maps/place/T-Mobile+Arena/@36.102909,-115.180335,17z/data=!4m5!3m4!1s0x80c8c4332388f181:0xed7176bcb1ef7767!8m2!3d36.102909!4d-115.1781463" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a>
    T-Mobile Arena
{% endblock %}

{% block team_30_tickets %}
    <a href="https://www.nhl.com/goldenknights/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a>
    tickets
{% endblock %}


<!-- TEAM 31 -->
{% block team_31_full %}
    <tr class="fs-5">
        <th scope="row" class="own-background-color" style="color:white;">31</th>
        <td>
            <div class="d-flex justify-content-between align-items-center">
                <div class="col-2">
                    <a href="https://www.nhl.com/capitals" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_washingtoncapitals.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_washingtoncapitals"></a>
                </div>
                <div class="col-10">
                    &ensp;Washington Capitals
                </div>
            </div>
        </td>
        <td><a href="https://www.google.com/maps/place/Capital+One+Arena/@38.8981675,-77.0230455,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7b78e4f5f6873:0x75cc04db1e11f711!8m2!3d38.8981675!4d-77.0208568" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a> Capital One Arena</td>
        <td><a href="https://www.nhl.com/capitals/tickets/" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a> ticket</td>
    </tr>
{% endblock %}


<!-- TEAM 32 -->
{% block team_32_full %}
    <tr class="fs-5">
        <th scope="row" class="own-background-color" style="color:white;">32</th>
        <td>
            <div class="d-flex justify-content-between align-items-center">
                <div class="col-2">
                    <a href="https://www.nhl.com/jets" target="_blank" rel="noopener noreferrer"><img src="/static/nhl_winnipegjets.png"  width="60" height="60" class="img-fluid rounded-start" alt="nhl_winnipegjets"></a>
                </div>
                <div class="col-10">
                    &ensp;Winnipeg Jets
                </div>
            </div>
        </td>
        <td><a href="https://www.google.com/maps/place/Canada+Life+Centre/@49.8926443,-97.1459511,17z/data=!4m5!3m4!1s0x52ea7159a364808f:0xe45a75348e3b2f30!8m2!3d49.8926443!4d-97.1437624" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-location-dot"></i></a> Canada Life Centre</td>
        <td><a href="https://www.nhl.com/jets/tickets" target="_blank" rel="noopener noreferrer" class="own-text-color"><i class="fa-solid fa-ticket"></i></a> ticket</td>
    </tr>
{% endblock %}